body {
    text-align: center;
    background-color: white;
}

body, textarea, input {
    font-family: Helvetica, Arial;
    color: dimgray;
    border: none;
}

.textb {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

a {
    color: dimgray;
}

p {
    text-indent: 1.5em;
}

.section {
    width: 450px;
    margin: auto;
    overflow: auto;
    margin-bottom: 30px;
    padding: 30px;
}

@media (max-width: 700px) {
    .section {
        width: 70%;
    }

    /* so the 'fork me on github' ribbon doesn't overlap the text */
    h1 {
        margin-bottom: 60px;
    }
}

.dark {
    background-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    border-color: dimgray;
}

.sectionbody {
    margin-top: 40px;
    text-align: left;
}

.step {
    text-transform: uppercase;
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
    background-color: #378EC1;
    color: #F1E8E8;
    padding: 15px;
    font-size: 20px;
}

.left {
    width: 45%;
    float: left;
}

.right {
    width: 45%;
    float: right;
}

.password {
    width: 100%;
}

.message {
    width: 100%;
    height: 100px;
}

.submit {
    float: right;
	color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.preview {
    margin-top: 30px;
    width: 100px;
    float: right;
}

.hide {
    display: none;
}

#output[src] {
    margin-bottom: 1em;
    box-shadow: 0px 0.5em 1em rgba(0,0,0,0.5);
}
